<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
  </head>

  <body>
    <nav class="bg-blue-500 p-4">
      <div class="container mx-auto">
        <div class="flex justify-between">
          <a href="<%= root_path %>" class="text-white text-lg hover:underline">
            URL Shortener
          </a>
          <div>
            <% if user_signed_in? %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-white text-lg hover:underline ml-4" %>
            <% else %>
              <a href="<%= new_user_registration_path %>" class="text-white text-lg hover:underline ml-4">
                Sign Up
              </a>
              <a href="<%= new_user_session_path %>" class="text-white text-lg hover:underline ml-4">
                Sign In
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <main class="prose mx-auto mt-28 px-5">
      <%= tag.p alert, class: "bg-yellow-100 text-yellow-800 text-small font-medium px-4 py-2 rounded" if alert %>
      <%= tag.p notice, class: "bg-blue-100 text-blue-800 text-small font-medium px-4 py-2 rounded" if notice %>

      <%= yield %>
    </main>
  </body>
</html>
